ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:16px;
  }
  li a:hover {
    text-decoration: underline;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
    margin-top:70px;
    margin-bottom:10px;
  }
  .bar{
    margin:0 auto;
    width:565px;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }

  .bar:hover{
    box-shadow: 1px 1px 1px 1px #f5ecec;
  }
  .searchbar{
    height:45px;
    border:none;
    width:480px;
    font-size:16px;
    outline: none; 
  }
  /* Overflow Jasti ide So for that be responsive to devices  */
  @media screen and (max-width: 600px) {
    .bar{
      width: 300px;
    }
    .searchbar{
      width: 220px;
    }
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
    padding-right: 15px;
  }
  .buttons{
    margin-top:15px;
    margin-left: 45px;
    justify-content: center;
  }
  .sch-btn{
    padding-left: 20px;
    cursor: pointer;
  }
  .button{
    background-color: #fbf6f6;
    border:none;
    color:#221f1f;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
    cursor: pointer;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#0f0e0e;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }
  @media screen and (max-width:600px){
    .buttons{
      display:inline-flex;
      padding: 0;
      margin: 0;
    }
  }
  