
.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    float:right;
}
.nav >li {
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.search {
    display:inline-block;
}
input[type=text]{
    color:red;
}

.input-text {
    border-radius: 10px;
    width: 30vw;
}

.sbt {
    display: flex;
    margin: 10px;
}

